:root {
    --primary-color: rgb(0, 90, 240);
    --secondary-color: rgb(242, 242, 242);
    --accent1-color: rgb(255, 255, 255);
    --accent2-color: rgb(23, 23, 23);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    font-family: "Inter", serif;
    font-style: normal;
    overflow-x: hidden;
    background: var(--secondary-color);
}


/*----------- HEADER --------------*/

header {
    background: var(--secondary-color);
    display: grid;
    align-items: center;
    box-shadow: 0 0 20px rgba(12, 22, 21, 0.4);
    position: fixed;  /* Fix header position */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Make sure it stays above content */
    padding: 0;
}

.image-logo img {
    width: 5rem;
    margin: .1em 8em .1em 2em;
}




/*----------- NAVIGATION --------------*/

nav {
    background-color: var(--secondary-color);
    font-size: 1rem;
}

nav ul {
    list-style-type: none; /* Remove default list styling */
    justify-content: center; /* Center nav items */
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--accent2-color);
    font-weight: 500;
    margin: 0 1rem; /* Margin between links */
    padding: 1.4rem 1rem; /* Padding around links */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transition effects */
}

nav a:hover {
    color: var(--primary-color); /* Change text color on hover */
}

nav a.active-menu-link {
    text-decoration: underline; /* Underline for active link */
    text-underline-offset: 5px; /* Offset for underline */
    text-decoration-thickness: 1px; /* Thickness for underline */
}


.nav-btn {
    font-weight: 600;
    border: 1px solid var(--primary-color);
    padding: .6em 1em;
    margin: 1em 0;
    color: var(--accent1-color);
    background-color: var(--primary-color);
}







/*----------- HAMBURGER MENU --------------*/

#menubutton {
    font-size: 2rem;
    background: none;
    cursor: pointer;
    font-family: "Montserrat";
    width: 100%;
    text-align: right;
    font-weight: 300;
    border: 0;
    color: var(--accent2-color); /* Color for hamburger button */
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .25rem 2vw;
}

#menubutton::before {
    content: "\2630"; /* Hamburger icon */
}

#menubutton.open::before {
    content: "X"; /* Close icon when open */
    font-weight: 600;
}

@media (max-width: 999px) {
    nav ul {
        display: none; /* Hide nav items on mobile */
    }

    nav.open ul {
        display: flex; /* Show nav items when nav is open */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
        width: 100%; /* Full width */
    }

    #menubutton {
        display: block; /* Show hamburger button */
    }
}

@media (min-width: 999px) {
    #menubutton {
        display: none; /* Hide hamburger button on larger screens */
    }
}




/*----------- HERO SECTION FOR MOBILE --------------*/

.hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 20px
}

.hero-text {
    max-width: 90%;
    margin-bottom: 20px;
}

.hero-image {
    max-width: 80%;
    height: auto;
    margin-top: 5em;
}

.hero-text {
    max-width: 100%;
    text-align: left;
    margin: 2em;
}

h1 {
    font-size: 2.4rem;
    font-weight: 900;
    margin: 1em 0;
    color: var(--accent2-color);
}

p {
    font-size: .9rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--accent2-color);
}

.hero-btn {
    display: inline-block;
    padding: 1em 3em;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin: 0 auto 4em 0;
}


/*----------- HOW IT WORKS SECTIONS FOR MOBILE SCREENS --------------*/

.how-container {
    width: 100%;
    margin: 0 auto 1em auto;
    max-width: 1440px;
}

.how {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px
}




.how-image {
    max-width: 90%;
    height: auto;
    margin-top: 0;
    padding-top: 2em;
}

.how-image-invert {
    max-width: 90%;
    height: auto;
    margin-top: 4em;
    padding-top: 2em;
    order: -1;
}

.how-text {
    max-width: 80%;
    text-align: left;
    margin: 1em;
}



.how-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

h2.how-title {
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--accent2-color);
    text-align: center;
}


.how-text h3 {
    font-size: 2rem;
    font-weight: 900;
    margin: 1em 0;
    color: var(--accent2-color);
}

.how-text p {
    font-size: .9rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--accent2-color);
}


/*----------- TESTIMONAILS --------------*/


.testimonial-container {
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.testimonial {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: flex-start;
}
.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial-container h1 {
    font-size: 2rem;
}

.testimonial h2 {
    margin: 1em 0;
    font-size: 1rem;
}
.testimonial h3 {
    margin: .5em 0;
    font-size: 1.2rem;
}

.testimonial p {
    margin: 5px 0;
    font-size: 16px;
}



/* FAQ SECTION */


h2 {
    margin: 1em 0;
}


.faq-section {
    max-width: 800px;
    margin: 4em auto;
    padding: 2em;
  }

  .faq-question h3 {
    color: var(--accent2-color);
    font-size: 1rem;
  }
  
  .faq-container {
    border-top: 2px solid #ddd;
  }
  
  .faq {
    border-bottom: 2px solid #ddd;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    background-color: var(--accent1-color);
  }
  
  .faq-question h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .faq-toggle {
    font-size: 1.5em;
    transition: transform 0.3s;
  }
  
  .faq-answer {
    display: none;
    padding: 15px;
    background-color: #fff;
    font-size: 1em;
  }
  
  .faq-active .faq-answer {
    display: block;
  }
  
  .faq-active .faq-toggle {
    transform: rotate(45deg);
  }



/*----------- MENTORS SECTION --------------*/


/* Initial state for mentor cards */
.card {
    opacity: 0;
    transform: translateY(20px); /* Slight downward offset */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* State when the card comes into view */
.card.in-view {
    opacity: 1;
    transform: translateY(0); /* Moves to its original position */
}




.mentors-title {
    width: 80%;
    margin: 10em auto 0 auto;
    text-align: center;
    font-weight: 800;
    color: var(--accent2-color);
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 2em;
    max-width: 1440px;
    margin: 0 auto;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2em;
    width: 300px;
    height: auto;
    text-align: left;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.mentor-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 15px;
}

.mentor-name {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0 5px;
}

.mentor-role,
.mentor-field,
.mentor-university,
.mentor-location {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
}

.cta-button {
    margin-top: 15px;
    padding: .8em 1.6em;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #004b9c;
}



/* ------------ MODAL STYLE ---------- */



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 800px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Input styles */
input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Spacing inside the input */
    margin: 10px 0; /* Spacing around inputs */
    border: 1px solid #ccc; /* Border */
    border-radius: 4px; /* Rounded corners */
}

label {
    margin-top: 10px;
    display: block; /* Display label above input */
}




/*----------- FORM --------------*/


.join-title {
    grid-column: 1 / 2;
    text-align: center;
    margin: 4em 0 1em 0;
    font-size: 2rem;
}

.join-layout h2 {
    text-align: center;
    margin-bottom: 0;
    color: var(--accent1-color);
    font-size: 1.6rem;
}



.form-container {
    max-width: 90%;
    margin: 2em auto;
    border: 1px solid var(--primary-color);
    color: var(--accent1-color);
    background-color: rgb(0, 90, 240);
    padding: 2em 2em;
    border-radius: 45px;
    box-shadow: 4px 4px 8px rgb(23, 53, 53, 0.3);
}



.designOne {
    margin: 2em auto;
}
  
  form {
      margin: 1rem 50%;
  }
    
      label {
        display: block;
        font-size: .8rem;
        color: var(--accent1-color);
        padding-top: .2rem;
      }

      h3 {
        font-size: .9rem;
        color: var(--accent1-color);
        margin: 1.5rem 0 .2rem 0;
      }
    
      input[type=text],
      input[type=tel],
      input[type=date],
      input[type=email],
      textarea[name=description],
      select {
        display: block;
        margin: .1rem 0 1rem 0 ;
        padding: .6rem;
        border: 1px solid #999;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color:#555;
        font-size: 1rem;
        color: #3D405B;
        width: 100%;
      }
    
      input:required {border-left-color: #ec6060;}
      input:focus {border-left-color: rgb(23, 53, 53); outline:none;}
      input:required:valid{border-left-color: var(--primary-color);}
    
      input[type=submit] {
        border: none;
        text-align: center;
        background-color: var(--accent2-color);
        color: var(--accent1-color);
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        -webkit-appearance: none;
        appearance: none;
      }

      input[type=submit]:hover {
        background-color: rgb(0, 54, 148);
        color: white;
        cursor: pointer;
      }


    input:-webkit-autofill {
      -webkit-text-fill-color: #999;
    }
    
    #results {
      background-color: #F4F1DE;
      padding: 0 1rem;
      border: 1px solid rgb(0, 90, 240);
      border-radius: 6px;
      width: 85%;
      margin: 2em auto;
    }

    .application-title {
        text-align: left;
        width: 80%;
        font-size: 1.2rem;
        margin: 2em auto 1em auto;
        color: rgb(0, 90, 240);
    }

    .application-submitted h1 {
        width: 80%;
        margin: 4em auto 0 auto;
        font-size: 2rem;
    }

    #results h3 {
        margin: 1em;
        color: var(--accent2-color);
    }

    #results p {
        margin: 0 1em .5em 1em;
    }






/*----------- FOOTER --------------*/

.footer {
    background: var(--accent2-color);
    color: var(--accent1-color);
    padding: 40px 0 0;
}

.footer-logo img {
    width: 6rem;
}

.footer-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}


.footer-section {
    margin: 0 40px 0 80px;
}

.footer-section h4 {
    font-size: .8rem;
    margin-bottom: 2em;
    letter-spacing: .1rem;
    font-weight: 500;
}

.footer-section ul {
    list-style: none;
    padding: 0 0 20px;
}

.footer-section ul li {
    margin-bottom: 1em;
    font-size: .8rem;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: rgb(83, 140, 236);
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 2em;
    padding: 0;
    list-style: none;
}

.social-links li {
    display: inline-block; /* Align social links horizontally */
}

.social-links li a {
    font-size: 1.4rem;
    color: #ccc;
    transition: color 0.3s;
}

.social-links li a:hover {
    color: var(--primary-color);
}

.footer-separator {
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(0, 90, 240, 0.5);
    margin: 0 0 10px;
}

.footer-bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10em;
    width: 55%;
    margin-top: 0;
    font-size: .8rem;
    color: #989898;
    letter-spacing: 1px;
}

.footer-bottom p {
    margin: 0;
}

.footer-logo img {
    max-width: 150px;
}

.highlight {
    margin: 0 auto;
    font-weight: 600;
    font-size: .8rem;
    color: #989898;
}

footer p {
    width: 100%;
    justify-content: center;
    color: #898989;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-section {
        flex-basis: 100%;
    }
    
    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }

    .footer-bottom p {
        margin: 0 0 10px;
    }
}