:root {
    --primary-color: rgb(100, 200, 140);
    --secondary-color: rgb(23, 53, 53);
    --accent1-color: rgb(125, 225, 227);
    --accent2-color: rgb(105, 222, 193);
    --accent3-color: rgb(12, 22, 21);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/*----------- NAVIGATION --------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: 1px solid rgba(99, 216, 255, 0.2);
    box-shadow: 0 0 20px rgba(12, 22, 21, 0.8);
    max-width: 100%;
    padding: 0 25px;
}

#menu {
    display: none; /* hide hamburger button */
}

.image-logo img {
    width: 6rem;
}

nav a {
    position: relative;
    width: 100%;
    font-size: .9rem;
    transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition */
    border: none;
}

nav a:hover {
    color: var(--primary-color);
    font-weight: 400;
    text-shadow: 0 0 20px rgba(57, 215, 255, 0.7);
}

/*----------- MAIN --------------*/
h1 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    color: rgb(23, 53, 53);
}

.member-card {
    border: 1px solid var(--accent2-color);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: inline-block;
}

.member-card img {
    display: block;
    margin-bottom: 1rem;
    width: 90px;
}

.member-card h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.member-card p {
    margin: .8rem 0;
}

/*----------- FOOTER --------------*/
.footer {
    background: linear-gradient(to top, rgb(12, 22, 21), rgb(23, 53, 53));
    color: white;
    padding: 40px 0 0;
}

.footer-logo img {
    width: 6rem;
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}

.footer-section {
    margin: 0 40px 0 80px;
}

.footer-section h4 {
    font-size: .8rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

.footer-section ul {
    list-style: none;
    padding: 0 0 20px;
}

.footer-section ul li {
    margin-bottom: 10px;
    font-size: .8rem;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #64c88c;
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 2em; /* Space between icons */
    padding: 0;
    list-style: none;
}

.social-links li {
    display: inline-block; /* Align social links horizontally */
}

.social-links li a {
    font-size: 1.4rem;
    color: #ccc;
    transition: color 0.3s;
}

.social-links li a:hover {
    color: #64c88c;
}

.footer-separator {
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(105, 222, 193, 0.5);
    margin: 0 0 10px;
}

.footer-bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10em;
    width: 55%;
    margin-top: 0;
    font-size: .8rem;
    color: #989898;
    letter-spacing: 1px;
}

.footer-bottom p {
    margin: 0;
}

.footer-logo img {
    max-width: 150px;
}

.highlight {
    font-weight: 600;
    font-size: .8rem;
    color: #989898;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-section {
        flex-basis: 100%;
    }
    
    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }

    .footer-bottom p {
        margin: 0 0 10px;
    }
}


