

:root {
    --primary-color: rgb(0, 90, 240);
    --secondary-color: rgb(242, 242, 242);
    --accent1-color: rgb(255, 255, 255);
    --accent2-color: rgb(23, 23, 23);
}

body {
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    color: var(--accent2-color);
}

strong {
    color: var(--primary-color);
}

header {
    padding: 25px;
    background-color: var(--accent1-color);
    border-radius: 40px;
    border-image: linear-gradient(to right, rgb(0, 90, 240), rgb(155, 192, 254)) 1;
}

button {
    padding: 1em 4em;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-weight: 600;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    box-shadow: 2px 2px 8px rgb(23, 23, 23, .4);
}

button:hover {
    background-color: rgb(18, 104, 254);
}

p, ul {
    line-height: 1.5rem;
}

nav {
    background-color: var(--accent1-color);
    font-size: 1.2rem;
    font-weight: 800;
    display: flex;
}

nav a {
    display: block;
    color: var(--accent2-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 6rem;
    line-height: 6rem;
}

h2 {
    font-weight: 800;
}

